/* background: linear-gradient(60deg, #1ff8ffef,10%, #04acdf); */

body {
    margin:  0 0 0 0;
    overflow-y: hidden;
    background: linear-gradient(60deg, #c2fff9ef,10%, #83ffeeea);
    height: 100vh;
    font-family: 'Nanum Pen Script', serif;
}

/* Deco Box - Main */

#MiddleBox {
    background: rgba(255,255,255,0.9);
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 100%;
    height: 30vh;

    box-shadow: 0px 0px 5px 5px #78e2ff;
}

#TitleBox {
    color: rgb(20, 17, 17);
    text-align: center;
    position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%);
}

#title {
    font-size: 8vmax;
    color: #55c5e4;
    margin: 0;

}

#titleDescription {
    margin-top: 3vh;
    font-size: 2vmax;
}

/* Menu Box */

#Menu {
    margin-top: 2.5vh;
    margin-right: 3vw;
    float: right;
}

#Menu ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
}

#Menu li {
    display: inline-block;

    text-align: center;

    border-radius: 2vmax;

    padding: 0.5vh 0;
}

#Menu li:hover {
    animation-name: MenuHover;
    animation-duration: 0.5s;

    background-color: white;
}

#Menu li:not(hover) {
    animation-name: MenuHoverNot;
    animation-duration: 0.1s;
}

#Menu li a {
    text-decoration: none;
    font-size: 2vmax;
    padding:  0.3vh 1.5vw;
    color: white;
}

#Menu li a:hover{
    animation-name: aHover;
    animation-duration: 0.5s;

    color: #55c5e4;
}

#Menu li a:not(hover) {
    animation-name: aHoverNot;
    animation-duration: 0.1s;
}
