body {
    margin:  0 0 0 0;
    overflow-y: hidden;
    background: linear-gradient(60deg, #c2fff9ef,10%, #83ffeeea);
    height: 100vh;
    font-family: 'Nanum Pen Script', serif;
}

#title {
    font-size: 8vmax;
    color: #55c5e4;
    margin: 0;
    text-align: center;
}

#Menu1 {
    margin-top: 2.5vh;
    margin-right: 3vw;
}

#Menu2 {
  margin-top: 2.5vh;
  margin-right: 3vw;
  float: right;
}

#Menu1 ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
}

#Menu1, #Menu2 li {
    display: inline-block;

    text-align: center;

    border-radius: 2vmax;

    padding: 0.5vh 0;
}

#Menu1 li{

      border-radius: 2vmax;
}

#Menu1 li:hover {
    animation-name: MenuHover;
    animation-duration: 0.5s;

    background-color: white;
}

#Menu2 li:hover {
    animation-name: MenuHover;
    animation-duration: 0.5s;

    background-color: white;
}

#Menu1, #Menu2 li:not(hover) {
    animation-name: MenuHoverNot;
    animation-duration: 0.1s;
}

#Menu1 li a {
    text-decoration: none;
    font-size: 2vmax;
    padding:  0.3vh 1.5vw;
    color: white;
}

#Menu2 li a {
    text-decoration: none;
    font-size: 2vmax;
    padding:  0.3vh 1.5vw;
    color: white;
  }

#Menu1 li a:hover{
    animation-name: aHover;
    animation-duration: 0.5s;

    color: #55c5e4;
}

#Menu2 li a:hover{
   animation-name: aHover;
   animation-duration: 0.5s;

   color: #55c5e4;
}

#Menu1, #Menu2 li a:not(hover) {
    animation-name: aHoverNot;
    animation-duration: 0.1s;
}
