<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  </head>
  <body>
    <p id="title">Regeim</p>
    <div id="MiddleBox">
      <center>
  		<table border=1 rules="none" width="500" height="200" bgcolor="white">
  			<tr>
  				<td><center><input type="text" name="ID" id="id_input" value="" placeholder="아이디"></center></td>
  			</tr>
  			<tr>
  				<td><center><input type="password" name="password" id="pw_input" value="" placeholder="비밀번호"></center></td>
  			</tr>
  		</table>
  		</center>
      
    </div>
  </body>
</html>
