<!DOCTYPE html>

<html>

<head>
    <title>Regeim : Main Page</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animation.css')}}">

    <meta charset="utf8"/>
</head>

<body>
    <nav id="Menu">
        <ul>
            <li>
                <a href="./login.html">login</a>
            </li>
            <!-- Login, Logout -->
            <li>
                <a href="./profile.html">profile</a>
            </li>
        </ul>
    </nav>
    <div id="MiddleBox">
        <div id="TitleBox">
            <p id="title">Regeim</p>
            <p id="titleDescription">당신의 청음 훈련을 도와드려요!!</p>
        </div>
    </div>
</body>

</html>
